html {
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-image: url('./resources/background.jpg');
    background-size: 120% 120%;
    background-repeat: no-repeat;
    animation: bganimation 20s infinite;
}

.content {
    border-radius: 10px;
    background-color: #ADBCCB;
    position:relative;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-bottom: 50px;
    overflow-y: auto;
    transform: translate(-50%, 5%);
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@keyframes bganimation {
    0% {background-position: 50% 55%;}
    50% {background-position: 50% 45%;}
    100% {background-position: 50% 55%;}
}

#buttons {
    position:absolute;
    display: none;
    width: 15%;
    right: 1px;
    text-align: right;
    transform: translateY(-100%);
    transition: transform 1s;
}

button:not(.burger-button) {
    display: inline-block;
    padding: 10px 10px;
    margin: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #734A72;
    border: none;
    border-radius: 15px;
    /* Add a transition effect for the hover state */
    transition-duration: 0.4s;
}

.burger-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; /* Change the cursor to a pointer */
    background-color: transparent; /* Remove the background color */
    border: none; /* Remove the border */
  }

.line {
    width: 25px; /* Set the width of the lines */
    height: 3px; /* Set the height of the lines */
    background-color: black; /* Set the color of the lines */
    margin: 5px; /* Add some space between the lines */
    transition: 0.3s; /* Add a transition effect */
  }

/* Change the color and shadow when hovering over the button */
button:hover {
    background-color: #4E78A2; /* Alice Grey */
    color: #F0F8FF; /* Alice Blue */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#envelope-form {
    float:left;
    width:25%;
    margin-bottom: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#display-block {
    float:left;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black; 
    background-color: #A36A97;
    padding: 10px;
    width:40%;
    height:min-content;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;    
    grid-template-rows: 1fr 1fr;    
}

h1 {
    font-family: tahoma;
    text-align: center;
}

tr {
    margin: 8px;
}

tr:not(:first-child):hover{
    cursor:pointer;
    background-color: #4E78A2;
}
.table-container {
    width: 80%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    margin-left: 50px;
    margin-top: 30px;
}
.header {
    font-size: 20px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, Tahoma, sans-serif;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border-collapse: collapse;
}
  
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

form {
    /* Basic properties */
    display: inline-block;
    padding: 1px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #3C6478;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 50px;
    margin-top: 30px;
}


form > input{
    margin-bottom: 5px;
    background-color: rgba(240, 248, 255, 0.944);
}

form > h2{
    color: aliceblue;
}