#buttons {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#envelope-form {
    float: left;
}

#displayBlock {
    float: right;
}
#displayBlock {
    /* Basic properties */
    display: inline-block;
    padding: 1px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #3C6478;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 50px;
    margin-top: 30px;

    /* Add a transition effect for the hover state */
    transition-duration: 0.4s;
}
button {
    /* Basic properties */
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #3C6478;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    /* Add a transition effect for the hover state */
    transition-duration: 0.4s;
}

/* Change the color and shadow when hovering over the button */
button:hover {
    background-color: #0D3D56; /* Alice Grey */
    color: #F0F8FF; /* Alice Blue */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

  
h1 {
    font-family: tahoma;
    text-align: center;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ACBBCA;
}
tr {
    margin: 8px;
}
.table-container {
    width: 80%;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

form{
    margin-left: 50px;
    margin-top: 30px;
}
.header {
    font-size: 20px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, Tahoma, sans-serif;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
}
  
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

form {
    /* Basic properties */
    display: inline-block;
    padding: 1px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #3C6478;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 50px;
    margin-top: 30px;

    /* Add a transition effect for the hover state */
    transition-duration: 0.4s;
}

/* Change the color and shadow when hovering over the form */
form:hover {
    background-color: #0D3D56; /* Alice Grey */
    color: #F0F8FF; /* Alice Blue */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form > input{
    margin-bottom: 5px;
    background-color: rgba(240, 248, 255, 0.944);
}

form > h2{
    color: aliceblue;
}